[task_local]
*/10 * * * * https://raw.githubusercontent.com/zcp1997/po0-dynamic-whitelist/main/clients/scripts/whitelist.js#api_host=fw.example.com&token=REPLACE_WITH_TOKEN, tag=PO0 动态白名单, img-url=checkmark.shield.system, enabled=true
event-network https://raw.githubusercontent.com/zcp1997/po0-dynamic-whitelist/main/clients/scripts/whitelist.js#api_host=fw.example.com&token=REPLACE_WITH_TOKEN, tag=PO0 动态白名单·切网, img-url=antenna.radiowaves.left.and.right.system, enabled=true

[filter_local]
host, fw.example.com, direct
